.blueSide {
  background-color: rgba(52, 152, 219,0.4);
}

.redSide {
  background-color: rgba(231, 76, 60,0.4);
}

.player{
  padding: 5px;
  margin: 1px;
  width: 19%;
  height: 400px;
}

.victory{
  margin: 1px;
}

.hidden{
  visibility: hidden;
}

.profileIcon{
  width: 25px;
  border-radius: 50%;
}

.champIcon{
  width: 70px;
  border-radius: 50%;
}

.items{
  padding: 1px;
}

.playerFooter {
  position: relative;
  top: 30%;
}
