<div class="container">
  <h1>nael.GG</h1>
  <div>
    <form #summonerName="ngForm" (ngSubmit)="onSubmit(summonerName.value)">
      <input type="text" name="APIKey" placeholder="API Key" ngModel><br><br>
      <input type="text" name="summonerName" placeholder="Summoner name" ngModel>
      <input type="submit" value="submit">
    </form>
  </div>

  <div class="row">
    <h1 class="victory" *ngIf="matchData.info.teams[0].win" style="color: rgba(52, 152, 219,1.0); text-align: center">BLUE WINS</h1>
    <h1 class="victory" *ngIf="matchData.info.teams[1].win" style="color: rgba(231, 76, 60,1.0); text-align: center">RED WINS</h1>
    <div class="player" *ngFor="let players of matchData.info.participants; let i = index" [ngClass]="{'blueSide' : i < 5, 'redSide' : i >= 5}">
      <div style="text-align: center">
      <img class="champIcon" src="http://ddragon.leagueoflegends.com/cdn/12.14.1/img/champion/{{players.championName}}.png">
      <div>
        <img class="profileIcon" src="http://ddragon.leagueoflegends.com/cdn/12.14.1/img/profileicon/{{players.profileIcon}}.png">&nbsp;<b>{{players.summonerName}}</b>
      </div>
      <div><b>{{players.kills}}/{{players.deaths}}/{{players.assists}}</b>&nbsp;({{computeKDA(players.kills, players.deaths, players.assists) | number}} KDA)</div>
      <div>
        <img class="items" *ngIf="players.item0 !== 0" width="14%" src="https://ddragon.leagueoflegends.com/cdn/12.6.1/img/item/{{players.item0}}.png">
        <img class="items" *ngIf="players.item1 !== 0" width="14%" src="https://ddragon.leagueoflegends.com/cdn/12.6.1/img/item/{{players.item1}}.png">
        <img class="items" *ngIf="players.item2 !== 0" width="14%" src="https://ddragon.leagueoflegends.com/cdn/12.6.1/img/item/{{players.item2}}.png">
        <img class="items" *ngIf="players.item3 !== 0" width="14%" src="https://ddragon.leagueoflegends.com/cdn/12.6.1/img/item/{{players.item3}}.png">
        <img class="items" *ngIf="players.item4 !== 0" width="14%" src="https://ddragon.leagueoflegends.com/cdn/12.6.1/img/item/{{players.item4}}.png">
        <img class="items" *ngIf="players.item5 !== 0" width="14%" src="https://ddragon.leagueoflegends.com/cdn/12.6.1/img/item/{{players.item5}}.png">
        <img class="items" *ngIf="players.item6 !== 0" width="14%" src="https://ddragon.leagueoflegends.com/cdn/12.6.1/img/item/{{players.item6}}.png">
      </div>
        <div>Level {{players.champLevel}}</div>
      </div>

      <div><i class="fas fa-coins"></i>&nbsp;{{players.goldEarned | number}}&nbsp;earned ({{computedSpentGold(players.goldEarned, players.goldSpent) | number}}% spent)</div>
      <!--<div [ngClass]="{'hidden':!players.firstBloodKill}"><b>First Blood !</b></div>-->
      <div><i class="fas fa-eye"></i>&nbsp;{{players.visionScore}} vision score</div>

      <div><i class="fas fa-dragon"></i> {{players.dragonKills}} | <i class="fas fa-bacon"></i> {{players.baronKills}}</div>

      <div class="playerFooter">
        <span *ngIf="players.firstBloodKill" class="btn-sm btn-success">First blood</span>&nbsp;
        <span *ngIf="players.doubleKills" class="btn-sm btn-success">Double kill</span>&nbsp;
        <span *ngIf="players.tripleKills" class="btn-sm btn-success">Triple kill</span>&nbsp;
        <span *ngIf="players.quadraKills" class="btn-sm btn-success">Quadrakill</span>&nbsp;
        <span *ngIf="players.pentaKills" class="btn-sm btn-success">Pentakill</span>&nbsp;
      </div>
    </div>
  </div>

  <h1 style="text-align: center">Timeline</h1>
  <input style="width: 100%" name="timeline" type="range" min="0" max="{{timeline.info.frames.length}}" value="0" step="1" (input)="updateTimeline($event)">
  <table class="table" style="text-align: center" *ngIf="timeline">
    <thead>
    <tr>
      <th scope="col">Blue side</th>
      <th scope="col">GD@{{cursor}}</th>
      <th scope="col">CSD@{{cursor}}</th>
      <th scope="col">Red side</th>
    </tr>
    </thead>
    <tbody>
    <!-- (timeline.info.frames[cursor].participantFrames[1].totalGold) - (timeline.info.frames[cursor].participantFrames[6].totalGold)-->
    <tr>
      <td>{{matchData.info.participants[0].championName}} Lv.{{timeline.info.frames[cursor].participantFrames[1].level}}</td>
      <td>{{getDiff(timeline.info.frames[cursor].participantFrames[1].totalGold,timeline.info.frames[cursor].participantFrames[6].totalGold)}}</td>
      <td>{{getDiff(timeline.info.frames[cursor].participantFrames[1].minionsKilled,timeline.info.frames[cursor].participantFrames[6].minionsKilled)}}</td>
      <td>{{matchData.info.participants[5].championName}} Lv.{{timeline.info.frames[cursor].participantFrames[2].level}}</td>
    </tr>
    <tr>
      <td>{{matchData.info.participants[1].championName}} Lv.{{timeline.info.frames[cursor].participantFrames[3].level}}</td>
      <td>{{getDiff(timeline.info.frames[cursor].participantFrames[2].totalGold,timeline.info.frames[cursor].participantFrames[7].totalGold)}}</td>
      <td>{{getDiff(timeline.info.frames[cursor].participantFrames[2].jungleMinionsKilled,timeline.info.frames[cursor].participantFrames[7].jungleMinionsKilled)}}</td>
      <td>{{matchData.info.participants[6].championName}} Lv.{{timeline.info.frames[cursor].participantFrames[4].level}}</td>
    </tr>
    <tr>
      <td>{{matchData.info.participants[2].championName}} Lv.{{timeline.info.frames[cursor].participantFrames[5].level}}</td>
      <td>{{getDiff(timeline.info.frames[cursor].participantFrames[3].totalGold,timeline.info.frames[cursor].participantFrames[8].totalGold)}}</td>
      <td>{{getDiff(timeline.info.frames[cursor].participantFrames[3].minionsKilled,timeline.info.frames[cursor].participantFrames[8].minionsKilled)}}</td>
      <td>{{matchData.info.participants[7].championName}} Lv.{{timeline.info.frames[cursor].participantFrames[6].level}}</td>
    </tr>
    <tr>
      <td>{{matchData.info.participants[3].championName}} Lv.{{timeline.info.frames[cursor].participantFrames[7].level}}</td>
      <td>{{getDiff(timeline.info.frames[cursor].participantFrames[4].totalGold,timeline.info.frames[cursor].participantFrames[9].totalGold)}}</td>
      <td>{{getDiff(timeline.info.frames[cursor].participantFrames[4].minionsKilled,timeline.info.frames[cursor].participantFrames[9].minionsKilled)}}</td>
      <td>{{matchData.info.participants[8].championName}} Lv.{{timeline.info.frames[cursor].participantFrames[8].level}}</td>
    </tr>
    <tr>
      <td>{{matchData.info.participants[4].championName}} Lv.{{timeline.info.frames[cursor].participantFrames[9].level}}</td>
      <td>{{getDiff(timeline.info.frames[cursor].participantFrames[5].totalGold,timeline.info.frames[cursor].participantFrames[10].totalGold)}}</td>
      <td>{{getDiff(timeline.info.frames[cursor].participantFrames[5].minionsKilled,timeline.info.frames[cursor].participantFrames[10].minionsKilled)}}</td>
      <td>{{matchData.info.participants[9].championName}} Lv.{{timeline.info.frames[cursor].participantFrames[10].level}}</td>
    </tr>
    </tbody>
  </table>

  <h1 style="text-align: center">Gold chart</h1>
  <canvas id="goldGraph" width="100%" height="40px"></canvas>

  <h1 style="text-align: center">CS chart</h1>
  <canvas id="csGraph" width="100%" height="40px"></canvas>
</div>
